@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fffffd;
  --blue1:#457d97;
  --yellowGold:#ccb24c;
  --yellow1:#f7d683;
  --yellow2:#fffdc0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

*{
  scroll-behavior: smooth;

}
